# Several GitHub personal access tokens, toggled when one runs out of hourly requests
# obtain at https://github.com/settings/tokens
OAUTH_TOKENS = []

# A JWT token for the HackIllinois API
# needs 'Staff' or 'Admin' permissions
HI_JWT = ""
